version: "3.8"
services:
  db:
    image: postgres:15
    container_name: tukrut_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tukrut
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: tukrut_backend
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: tukrut_frontend
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
